.remove-pading {
    padding: 0;
}

body {
    font-family: sans-serif;
}

.custom-position {
    top: 5px;
    left: 10px;
}


@media all and (max-width:575px) {

    .header {

        width: 100%;
        height: 70px;
        background-color: white;
        position: fixed;
        z-index: 1;
    }

    .custom-bg1 {
        height: 560px;
        background: url(../images/1.jpg);
        background-position: center;
        background-size: cover;
    }

    .color-1 {
        color: black;
    }


    h5 {
        top: 18%;
        font-size: calc(1vw + 6px);
    }

    h2 {
        top: 25%;
        font-size: calc(1vw + 20px);
    }

    p {
        top: 42%;
        font-size: calc(1vw + 8px);
    }

    .button1 {

        top: 60%;
        padding: 0px 40px;
        line-height: 48px;
        background: rgb(90, 90, 90);
        color: white;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;

        font-family: sans-serif;
        text-decoration: none;
        transition: all 300ms linear 0s;
    }

    .button1:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(90, 90, 90);
    }

    .button2 {


        top: 70%;
        padding: 0px 30px;
        line-height: 48px;
        background: rgba(255, 255, 255, 0.4);
        color: white;
        border: 1px solid #bebfc4;
        border-radius: 5px;
        font-size: 14px;
        font-family: sans-serif;
        transition: all 300ms linear 0s;
    }

    .button2:hover {
        color: rgb(90, 90, 90);
    }

    .box1 {
        width: 92%;
        height: 200px;
        transition: all 300ms linear 0s;
        border: 1px solid rgb(230, 230, 230);
    }

    .box1:hover {
        border-color: white;
        box-shadow: 0px 5px 30px 0px rgba(153, 153, 153, 0.1);
    }

    .test {
        margin-left: 30px;
        width: 80%;
        line-height: 40px;
        border-bottom: 1px solid rgb(210, 210, 210);
        padding: 0;

    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-size: calc(1vw + 8px);
        transition: all 300ms linear 0s;
    }

    a:hover {
        color: rgb(80, 80, 80);
    }



    .custom-h4 {

        top: 70%;
        transition: all 300ms linear 0s;
        cursor: pointer;
    }

    .custom-p {
        color: rgb(140, 140, 140);
        top: 80%;

    }

    .custom-h4:hover {
        color: rgb(80, 80, 80);
    }

    .custom-parent1 {
        margin: 10px auto;
    }

    .custom-section {
        height: 450px;
        background-color: #f9f9ff;
    }

    .custom-paragraf {
        height: 200px;
        width: 90%;
        background-color: white;
    }

    .color {
        color: #ffc000;
    }


    .custom-ul {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 20%;
        bottom: -10px;
        top: 55%;
        text-align: center;
        opacity: 0;
        transition: all 300ms linear 0s;
        background: #fff;
    }

    .custom-margin {
        font-size: 14px;
        color: #dddddd;
        margin-right: 20px;
        line-height: 50px;
    }

    .custom-ul:hover {
        opacity: 1;
        bottom: 0px;
    }

    .custom-hover {

        transition: all 300ms linear 0s;
    }

    .custom-hover:hover {
        color: rgb(80, 80, 80);
    }

    .custom-height {
        height: 70%;
        background-color: #f9f9ff;
    }

    .custom-a {
        transition: all 300ms linear 0ms;
    }

    .custom-a:hover {
        color: rgb(90, 90, 90);
    }

    .custom-bg2 {
        height: 600px;

        background: url(../images/17.webp);
        background-position: center;
        background-size: cover;
    }

    h1 {
        left: 50%;
        left: 5%;
        right: 5%;

    }

    .p-akhr {
        top: 25%;
        left: 5%;
        right: 5%;

    }

    .button4 {
        position: absolute;
        text-align: center;
        top: 60%;
        background-color: rgb(80, 80, 80);
        width: 200px;
        height: 55px;
        left: 50%;
        margin-left: -100px;
        color: white;
    }

    .button4:hover {
        color: #ffc000;
    }

    .parent2 {
        height: 80%;
        background-color: #222222;

    }

    .custom-color {
        color: rgb(100, 100, 100);
    }

    .list {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .imgeees {
        width: 100%;
    }

    input {
        outline: none;
        background: transparent;
        height: 40px;
        width: 90%;
        margin: 10px auto;
        padding-left: 10px;
        font-size: 14px;
        color: rgb(90, 90, 90);


    }

    .custom-img {

        margin-left: 10px;

    }

    .button5 {
        height: 40px;
        width: 35px;
        right: 5%;
        top: 17%;

    }

    .list-instafeed {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .custom-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .custom-hover1 {
        transition: all 200ms linear 0s;
    }

    .custom-hover1:hover {

        opacity: 0.3;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .header {

        width: 100%;
        height: 70px;
        background-color: white;
        position: fixed;
        z-index: 1;
    }

    .custom-bg1 {
        height: 560px;
        background: url(../images/1.jpg);
        background-position: center;
        background-size: cover;
    }

    .color-1 {
        color: black;
    }


    button {
        color: rgb(90, 90, 90);
        border: 0;
    }


    h5 {
        left: 15%;
        top: 18%;
        font-size: calc(1vw + 6px);
    }

    h2 {
        left: 15%;
        top: 25%;
        font-size: calc(1vw + 20px);
    }

    p {
        left: 15%;
        top: 42%;
        font-size: calc(1vw + 8px);
    }

    .imgeees {
        width: 100%;
    }

    .button1 {
        left: 15%;
        top: 60%;
        padding: 0px 40px;
        line-height: 48px;
        background: rgb(90, 90, 90);
        color: white;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;

        font-family: sans-serif;
        text-decoration: none;
        transition: all 300ms linear 0s;
    }

    .button1:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(90, 90, 90);
    }

    .button2 {

        left: 42%;
        top: 60%;
        padding: 0px 30px;
        line-height: 48px;
        background: rgba(255, 255, 255, 0.4);
        color: white;
        border: 1px solid #bebfc4;
        border-radius: 5px;
        font-size: 14px;
        font-family: sans-serif;
        transition: all 300ms linear 0s;
    }

    .button2:hover {
        color: rgb(90, 90, 90);
    }

    .box1 {
        width: 92%;
        height: 200px;
        transition: all 300ms linear 0s;
        border: 1px solid rgb(230, 230, 230);
    }

    .box1:hover {
        border-color: white;
        box-shadow: 0px 5px 30px 0px rgba(153, 153, 153, 0.1);
    }

    .test {
        margin-left: 30px;
        width: 80%;
        line-height: 40px;
        border-bottom: 1px solid rgb(210, 210, 210);
        padding: 0;

    }

    .custom-hover1 {
        transition: all 200ms linear 0s;
    }

    .custom-hover1:hover {

        opacity: 0.3;
    }


    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-size: calc(1vw + 8px);
        transition: all 300ms linear 0s;
    }

    a:hover {
        color: rgb(80, 80, 80);
    }



    .custom-h4 {

        top: 70%;
        transition: all 300ms linear 0s;
        cursor: pointer;
    }

    .custom-p {
        color: rgb(140, 140, 140);
        top: 80%;

    }

    .custom-h4:hover {
        color: rgb(80, 80, 80);
    }

    .custom-section2 {
        margin-top: 70px;
        height: 500px;
        background-color: #f9f9ff;
    }

    .custom-paragraf {
        margin-top: 40px;
        height: 200px;
        width: 90%;
        background-color: white;
    }

    .color {
        color: #ffc000;
    }


    .custom-ul {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 20%;
        bottom: -10px;
        top: 55%;
        text-align: center;
        opacity: 0;
        transition: all 300ms linear 0s;
        background: #fff;
    }

    .custom-margin {
        font-size: 14px;
        color: #dddddd;
        margin-right: 20px;
        line-height: 50px;
    }

    .custom-ul:hover {
        opacity: 1;
        bottom: 0px;
    }

    .custom-hover {

        transition: all 300ms linear 0s;
    }

    .custom-hover:hover {
        color: rgb(80, 80, 80);
    }

    .custom-height {
        height: 1850px;
        background-color: #f9f9ff;
    }

    .custom-a {
        transition: all 300ms linear 0ms;
    }

    .custom-a:hover {
        color: rgb(90, 90, 90);
    }


    .custom-bg2 {
        height: 600px;
        width: 100%;
        background: url(../images/17.webp);
        background-position: center;
        background-size: cover;
    }

    h1 {
        left: 50%;
        left: 5%;
        right: 5%;

    }

    .p-akhr {
        top: 25%;
        left: 5%;
        right: 5%;

    }

    .button4 {
        position: absolute;
        text-align: center;
        top: 60%;
        background-color: rgb(80, 80, 80);
        width: 200px;
        height: 55px;
        left: 50%;
        margin-left: -100px;
        color: white;
    }

    .button4:hover {
        color: #ffc000;
    }

    .parent2 {
        height: 70%;
        background-color: #222222;

    }

    .custom-color {
        color: rgb(100, 100, 100);
    }

    .list {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
        line-height: 35px;
    }

    input {
        outline: none;
        background: transparent;
        height: 40px;
        width: 90%;
        margin: 10px auto;
        padding-left: 10px;
        font-size: 14px;
        color: rgb(90, 90, 90);


    }


    .button5 {
        height: 40px;
        width: 35px;
        right: 5%;
        top: 17%;

    }

    .p-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .custom-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .card-header {

        background: transparent;
        border: none;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

}

@media all and (min-width:768px) and (max-width:991px) {

    .header {

        width: 100%;
        height: 70px;
        background-color: white;
        position: fixed;
        z-index: 1;
    }

    .custom-bg1 {
        height: 560px;
        background: url(../images/1.jpg);
        background-position: center;
        background-size: cover;
    }

    .color-1 {
        color: black;
    }


    h5 {
        top: 18%;
        font-size: calc(1vw + 6px);
    }

    h2 {
        top: 25%;
        font-size: calc(1vw + 20px);
    }

    p {
        top: 42%;
        font-size: calc(1vw + 8px);
    }

    .button1 {
        top: 60%;
        padding: 0px 40px;
        line-height: 48px;
        background: rgb(90, 90, 90);
        color: white;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;
        font-family: sans-serif;
        text-decoration: none;
        transition: all 300ms linear 0s;
    }

    .button1:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(90, 90, 90);
    }

    .button2 {

        left: 21%;
        top: 60%;
        padding: 0px 30px;
        line-height: 48px;
        background: rgba(255, 255, 255, 0.4);
        color: white;
        border: 1px solid #bebfc4;
        border-radius: 5px;
        font-size: 14px;
        font-family: sans-serif;
        transition: all 300ms linear 0s;
    }

    .button2:hover {
        color: rgb(90, 90, 90);
    }

    .box1 {
        width: 92%;
        height: 200px;
        transition: all 300ms linear 0s;
        border: 1px solid rgb(230, 230, 230);
    }

    .box1:hover {
        border-color: white;
        box-shadow: 0px 5px 30px 0px rgba(153, 153, 153, 0.1);
    }



    .test {
        margin-left: 30px;
        width: 80%;
        line-height: 40px;
        border-bottom: 1px solid rgb(210, 210, 210);
        padding: 0;

    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-size: calc(1vw + 8px);
        transition: all 300ms linear 0s;
    }

    a:hover {
        color: rgb(80, 80, 80);
    }

    .parent3 {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

    }

    .position-custom {

        position: absolute;
        height: 45%;
        background-color: #ffffff;
        z-index: 2;
        top: 1700px;
        border-radius: 10px;

    }

    .images-custom {
        margin-left: 300px;
        position: relative;


    }

    .imgeees {

        height: 100%;

    }

    .custom-h4 {

        top: 70%;
        transition: all 300ms linear 0s;
        cursor: pointer;
    }

    .custom-p {
        color: rgb(140, 140, 140);
        top: 80%;
        left: 10%;

    }

    .custom-h4:hover {
        color: rgb(80, 80, 80);
    }

    .custom-hover1 {
        transition: all 200ms linear 0s;
    }

    .custom-hover1:hover {

        opacity: 0.3;
    }

    .custom-section {
        height: 600px;
        background-color: #f9f9ff;

    }

    .custom-paragraf {
        height: 300px;
        width: 80%;
        background-color: white;
    }

    .color {
        color: #ffc000;
    }


    .custom-ul {
        position: absolute;
        left: 0px;
        width: 80%;
        height: 18%;
        bottom: -10px;
        top: 60%;
        text-align: center;
        opacity: 0;
        transition: all 300ms linear 0s;
        background: #fff;
        padding-top: 20px;
    }

    .custom-margin {
        font-size: 14px;
        color: #dddddd;

    }

    .custom-ul:hover {
        opacity: 1;
        bottom: 0px;
    }

    .custom-hover {
        margin-right: 50px;
        transition: all 300ms linear 0s;
    }

    .custom-hover:hover {
        color: rgb(80, 80, 80);
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .custom-a {
        transition: all 300ms linear 0ms;
    }

    .custom-height {
        height: 1800px;
        background-color: #f9f9ff;
    }


    .custom-a:hover {
        color: rgb(140, 140, 140);
    }

    .custom-bg2 {
        height: 600px;
        width: 100%;
        background: url(../images/17.webp);
        background-position: center;
        background-size: cover;
    }

    h1 {
        left: 50%;
        left: 5%;
        right: 5%;

    }

    .p-akhr {
        top: 25%;
        left: 5%;
        right: 5%;

    }

    .button4 {
        position: absolute;
        text-align: center;
        top: 60%;
        background-color: rgb(80, 80, 80);
        width: 200px;
        height: 55px;
        left: 50%;
        margin-left: -100px;
        color: white;
    }

    .button4:hover {
        color: #ffc000;
    }

    .parent2 {
        height: 70%;
        background-color: #222222;

    }

    .custom-color {
        color: rgb(100, 100, 100);
    }

    .list {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
        line-height: 35px;
    }

    input {
        outline: none;
        background: transparent;
        height: 40px;
        width: 90%;
        margin: 10px auto;
        padding-left: 10px;
        font-size: 14px;
        color: rgb(90, 90, 90);


    }

    .button5 {
        height: 40px;
        width: 35px;
        right: 5%;
        top: 17%;

    }

    .list-instafeed {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .p-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .custom-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .card-header {

        background: transparent;
        border: none;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }


}

@media all and (min-width:992px) and (max-width:1199px) {
    .header {

        width: 100%;
        height: 70px;
        background-color: white;
        position: fixed;
        z-index: 1;
    }

    ol {
        list-style-type: none;
    }

    .custom-list {
        position: relative;
        background-color: transparent;
        transition: all 200ms linear 0s;
    }

    ol {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100px;
        margin-top: 24px;
        background-color: #222222;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: all 300ms linear 0s;
    }

    ol>.custom-list:not(:last-of-type) {
        border-bottom: 1px solid black;
    }



    .a-list {

        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-family: sans-serif;


        background-color: transparent;
        transition: all 200ms linear 0s;
    }



    .custom-list:hover ol {
        transform: scaleY(1);
        z-index: 1;
    }

    .custom-bg1 {
        height: 560px;
        background: url(../images/1.jpg);
        background-position: center;
        background-size: cover;
    }

    .color-1 {
        color: black;
    }


    h5 {
        top: 18%;
        font-size: calc(1vw + 6px);
    }

    h2 {
        top: 25%;
        font-size: calc(1vw + 20px);
    }

    p {
        top: 42%;
        font-size: calc(1vw + 8px);
    }

    .button1 {
        top: 60%;
        padding: 0px 40px;
        line-height: 48px;
        background: rgb(90, 90, 90);
        color: white;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;
        font-family: sans-serif;
        text-decoration: none;
        transition: all 300ms linear 0s;
    }

    .button1:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(90, 90, 90);
    }

    .button2 {

        left: 21%;
        top: 60%;
        padding: 0px 30px;
        line-height: 48px;
        background: rgba(255, 255, 255, 0.4);
        color: white;
        border: 1px solid #bebfc4;
        border-radius: 5px;
        font-size: 14px;
        font-family: sans-serif;
        transition: all 300ms linear 0s;
    }

    .button2:hover {
        color: rgb(90, 90, 90);
    }

    .box1 {

        width: 30%;

        transition: all 300ms linear 0s;
        border: 1px solid rgb(230, 230, 230);
    }

    .box1:hover {
        border-color: white;
        box-shadow: 0px 5px 30px 0px rgba(153, 153, 153, 0.1);
    }



    .test {
        margin-left: 30px;
        width: 80%;
        line-height: 40px;
        border-bottom: 1px solid rgb(210, 210, 210);
        padding: 0;

    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-size: calc(1vw + 8px);
        transition: all 300ms linear 0s;
    }

    a:hover {
        color: rgb(80, 80, 80);
    }

    .parent3 {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

    }

    .position-custom {

        position: absolute;
        height: 42%;
        background-color: #ffffff;
        z-index: 2;
        top: 1300px;
        border-radius: 10px;

    }

    .images-custom {
        margin-left: 300px;
        position: relative;


    }

    .imgeees {

        height: 100%;

    }

    .font-custom {
        font-size: 14px;
    }

    .custom-h4 {

        top: 70%;
        transition: all 300ms linear 0s;
        cursor: pointer;
    }

    .custom-p {
        color: rgb(140, 140, 140);
        top: 80%;
        left: 10%;

    }

    .custom-h4:hover {
        color: rgb(80, 80, 80);
    }

    .custom-hover1 {
        transition: all 200ms linear 0s;
    }

    .custom-hover1:hover {

        opacity: 0.3;
    }

    .custom-section {
        height: 500px;
        background-color: #f9f9ff;

    }

    .custom-paragraf {
        height: 300px;
        width: 80%;
        background-color: white;
    }

    .color {
        color: #ffc000;
    }


    .custom-ul {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 18%;
        bottom: -10px;
        top: 55%;
        text-align: center;
        opacity: 0;
        transition: all 300ms linear 0s;
        background: #fff;
        padding-top: 20px;
        transform-origin: bottom;
    }

    .custom-height {
        height: 800px;
        background-color: #f9f9ff;
    }

    .custom-margin {
        font-size: 14px;
        color: #dddddd;

    }

    .custom-ul:hover {
        opacity: 1;
        bottom: 0px;
    }

    .custom-hover {
        transition: all 300ms linear 0s;
    }

    .custom-hover:hover {
        color: rgb(80, 80, 80);
    }

    .font-p {
        font-size: 14px;
    }

    .custom-a {
        transition: all 300ms linear 0ms;
    }

    .custom-a:hover {
        color: rgb(140, 140, 140);
    }


    .custom-bg2 {
        height: 600px;
        width: 100%;
        background: url(../images/17.webp);
        background-position: center;
        background-size: cover;
    }

    h1 {
        top: 25%;
        font-size: 30px;
        left: 50%;
        margin-left: -300px;
        width: 600px;

    }

    .p-akhr {
        top: 45%;
        left: 5%;
        right: 5%;

    }

    .button4 {
        position: absolute;
        text-align: center;
        top: 60%;
        background-color: rgb(80, 80, 80);
        width: 200px;
        height: 55px;
        left: 50%;
        margin-left: -100px;
        color: white;
    }

    .button4:hover {
        color: #ffc000;
    }

    .parent2 {
        height: 70%;
        background-color: #222222;

    }

    .custom-color {
        color: rgb(100, 100, 100);
    }

    .list {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
        line-height: 35px;
    }

    input {
        outline: none;
        background: transparent;
        height: 40px;
        width: 90%;
        margin: 10px auto;
        padding-left: 10px;
        font-size: 14px;
        color: rgb(90, 90, 90);


    }

    .button5 {
        height: 40px;
        width: 35px;
        right: 5%;
        top: 17%;

    }

    .list-instafeed {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .p-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .custom-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .card-header {

        background: transparent;
        border: none;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }


}

@media all and (min-width:1200px) {
    .header {

        width: 100%;
        height: 70px;
        background-color: white;
        z-index: 1;
    }

    .direction {
        direction: rtl;
    }

    .direction1 {
        direction: ltr;
    }

    .custom-bg1 {
        height: 560px;
        background: url(../images/1.jpg);
        background-position: center;
        background-size: cover;
    }

    h5 {
        left: 16%;
        top: 18%;
        font-size: calc(1vw + 6px);
    }

    h2 {
        left: 16%;
        top: 25%;
        font-size: calc(1vw + 20px);
    }

    p {
        left: 16%;
        top: 42%;
        font-size: calc(1vw + 8px);
    }

    .input-group {

        width: 150%;
    }

    .input-custom {
        direction: ltr;
        background-color: rgb(80, 80, 80);
        color: white;
        border: 0;
    }

    .custom-parent3 {
        margin-top: 20px;
        padding-left: 20px;

    }

    .custom-logo {
        direction: ltr;
        margin-top: 50px;

    }

    .custom-buttom {
        height: 41%;
        width: 24%;
        left: 95%;
        top: 49%;
        background-color: rgb(80, 80, 80);
        border: 0;
        color: white;
    }

    .custom-margin2 {
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }

    .custom-margin12 {
        margin-top: 60%;
    }

    .button1 {
        left: 16%;
        top: 60%;
        padding: 0px 40px;
        line-height: 48px;
        background: rgb(90, 90, 90);
        color: white;
        border: 1px solid rgb(90, 90, 90);
        border-radius: 5px;
        font-family: sans-serif;
        text-decoration: none;
        transition: all 300ms linear 0s;
    }

    .button1:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(90, 90, 90);
    }

    .button2 {
        left: 31%;
        top: 60%;
        padding: 0px 30px;
        line-height: 48px;
        background: rgba(255, 255, 255, 0.4);
        color: white;
        border: 1px solid #bebfc4;
        border-radius: 5px;
        font-size: 14px;
        font-family: sans-serif;
        transition: all 300ms linear 0s;
    }

    .button2:hover {
        color: rgb(90, 90, 90);
    }

    .box1 {
        width: 30%;
        transition: all 300ms linear 0s;
        border: 1px solid rgb(230, 230, 230);
    }

    .box1:hover {
        border-color: white;
        box-shadow: 0px 5px 30px 0px rgba(153, 153, 153, 0.1);
    }

    .test {
        margin-left: 30px;
        width: 80%;
        line-height: 40px;
        border-bottom: 1px solid rgb(210, 210, 210);
        padding: 0;

    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgb(160, 160, 160);
        font-size: calc(1vw + 8px);
        transition: all 300ms linear 0s;
    }

    a:hover {
        color: rgb(80, 80, 80);
    }

    .parent3 {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

    }

    .position-custom {

        position: absolute;
        height: 45%;
        background-color: #ffffff;
        z-index: 2;
        top: 1300px;
        border-radius: 10px;

    }

    .images-custom {
        margin-left: 300px;
        position: relative;


    }

    .imgeees {

        height: 100%;

    }

    .font-custom {
        font-size: 14px;
    }

    .custom-h4 {

        top: 70%;
        transition: all 300ms linear 0s;
        cursor: pointer;
    }

    .custom-p {
        color: rgb(140, 140, 140);
        top: 80%;
        left: 10%;

    }

    .custom-h4:hover {
        color: rgb(80, 80, 80);
    }

    .custom-hover1 {
        transition: all 200ms linear 0s;
    }

    .custom-hover1:hover {

        opacity: 0.3;
    }

    .custom-section {
        height: 500px;
        background-color: #f9f9ff;

    }

    .custom-paragraf {
        height: 300px;
        width: 80%;
        background-color: white;
    }

    .color {
        color: #ffc000;
    }


    .custom-ul {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 18%;
        bottom: -10px;
        top: 60%;
        text-align: center;
        opacity: 0;
        transition: all 300ms linear 0s;
        background: #fff;
        padding-top: 20px;
        transform-origin: bottom;
    }

    .custom-height {
        height: 800px;
        background-color: #f9f9ff;
    }

    .custom-margin {
        font-size: 14px;
        color: #dddddd;

    }

    .custom-ul:hover {
        opacity: 1;
        bottom: 0px;
    }

    .custom-hover {
        transition: all 300ms linear 0s;
    }

    .custom-hover:hover {
        color: rgb(80, 80, 80);
    }

    .font-p {
        font-size: 14px;
    }

    .custom-a {
        transition: all 300ms linear 0ms;
    }

    .custom-a:hover {
        color: rgb(140, 140, 140);
    }


    .custom-bg2 {
        height: 600px;
        width: 100%;
        background: url(../images/17.webp);
        background-position: center;
        background-size: cover;
    }

    h1 {
        top: 25%;
        font-size: 30px;
        left: 50%;
        margin-left: -300px;
        width: 600px;

    }

    .p-akhr {
        top: 45%;
        left: 5%;
        right: 5%;

    }

    .button4 {
        position: absolute;
        text-align: center;
        top: 60%;
        background-color: rgb(80, 80, 80);
        width: 200px;
        height: 55px;
        left: 50%;
        margin-left: -100px;
        color: white;
    }

    .button4:hover {
        color: #ffc000;
    }

    .parent2 {
        height: 70%;
        background-color: #222222;

    }

    .custom-color {
        color: rgb(100, 100, 100);
    }

    .list {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
        line-height: 35px;
    }

    input {
        outline: none;
        background: transparent;
        height: 40px;
        width: 90%;
        margin: 10px auto;
        padding-left: 10px;
        font-size: 14px;
        color: rgb(90, 90, 90);


    }

    .button5 {
        height: 40px;
        width: 35px;
        right: 5%;
        top: 17%;

    }

    .list-instafeed {
        margin-left: -5px;
        margin-right: -5px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .p-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .custom-center {
        margin: 10px auto;
        align-items: center;
        justify-content: center;

    }

    .card-header {

        background: transparent;
        border: none;
    }

    .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

}